.container{
    display: flex;
    justify-content: space-between;
}

.button{
    width: 100px;
    padding:16px;
    border:none;
    background-color: rgb(18, 133, 199);
    color: white;
    cursor: pointer;
}